apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: web-servers-operators
  namespace: openshift-marketplace
spec:
  displayName: "JWS Operator"
  image: quay.io/@USER@/my-test-catalog:latest
  publisher: "web-servers"
  sourceType: grpc
