apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "web.servers.org/v1alpha1",
          "kind": "WebServer",
          "metadata": {
            "name": "webserver-example"
          },
          "spec": {
            "applicationName": "webapp",
            "replicas": 1,
            "useInsightsClient": false
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.25.3
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
  name: jws-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: WebServer
      name: webservers.web.servers.org
      version: v1alpha1
      specDescriptors:
      - description: The base for the names of the deployed application resources
        displayName: Application Name
        path: applicationName
      - description: Desired number of replicas for the application
        displayName: Replicas
        path: replicas
        x-descriptors:
          - 'urn:alm:descriptor:com.tectonic.ui:podCount'
      - description: Use session clustering
        displayName: Enable Session Clustering in Tomcat
        path: useSessionClustering
        x-descriptors:
          - 'urn:alm:descriptor:com.tectonic.ui:booleanSwitch'
      - description: Use Insights client (works only with JWS 6.1+ images)
        displayName: Enable Red Hat Insights 
        path: useInsightsClient
        x-descriptors:
          - 'urn:alm:descriptor:com.tectonic.ui:booleanSwitch'
      - description: (Deployment method 1) Application image
        displayName: Web Image
        path: webImage
      - description: (Deployment method 2) Image stream
        displayName: Web Image Stream
        path: webImageStream
      - description: TLS configuration for the WebServer
        displayName: TLS Configuration
        path: tlsConfig
      - description: Environment variables for the WebServer
        displayName: Environment Variables
        path: environmentVariables
      - description: Persistent logs configuration
        displayName: Persistent Logs
        path: persistentLogs
      - description: Configuration of the resources used by the WebServer e.g. CPU and memory.
        displayName: Pod Resources
        path: podResources
        x-descriptors:
          - 'urn:alm:descriptor:com.tectonic.ui:resourceRequirements'
      - description: SecurityContext defines the security capabilities required to run the application.
        displayName: Security Context
        path: securityContext
  description: WebServer operator can manage JBoss Web Server images and Apache Tomcat
    images.
  displayName: WebServer
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resourceNames:
          - pull-secret
          resources:
          - secrets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - clusterversions
          verbs:
          - get
          - list
          - watch
        serviceAccountName: jws-operator-insights
      - rules:
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - apps
          resources:
          - jws-operator
          verbs:
          - update
        - apiGroups:
          - apps.openshift.io
          resources:
          - deploymentconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - build.openshift.io
          resources:
          - buildconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - build.openshift.io
          resources:
          - builds
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - services/finalizers
          verbs:
          - update
        - apiGroups:
          - image.openshift.io
          resources:
          - imagestreams
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          verbs:
          - create
          - get
          - grant
          - list
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes/custom-host
          verbs:
          - create
          - get
        - apiGroups:
          - web.servers.org
          resources:
          - webservers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - web.servers.org
          resources:
          - webservers/finalizers
          verbs:
          - update
        - apiGroups:
          - web.servers.org
          resources:
          - webservers/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: jws-operator-controller-manager
      deployments:
      - label:
          control-plane: controller-manager
        name: jws-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: quay.io/brancz/kube-rbac-proxy:v0.19.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources: {}
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                env:
                  - name: OPERATOR_NAMESPACE
                    valueFrom:
                      fieldRef:
                        fieldPath: metadata.namespace
                  - name: INSIGHTS_ENABLED
                    value: "true"
                image: quay.io/mmadzin/jws-operator:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 200m
                    memory: 100Mi
                  requests:
                    cpu: 100m
                    memory: 20Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: true
              serviceAccountName: jws-operator-controller-manager
              terminationGracePeriodSeconds: 10
      - label:
          app.kubernetes.io/name: jws-operator-insights
          control-plane: controller-manager
        name: jws-operator-insights
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/name: jws-operator-insights
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: insights
              labels:
                app.kubernetes.io/name: jws-operator-insights
                control-plane: controller-manager
            spec:
              containers:
                - args:
                    - --health-probe-bind-address=:8081
                    - --metrics-bind-address=0
                    - --leader-elect
                  env:
                    - name: RELATED_IMAGE_INSIGHTS_PROXY
                      value: registry.redhat.io/3scale-amp2/apicast-gateway-rhel8:3scale2.15
                    - name: INSIGHTS_BACKEND_DOMAIN
                      value: console.redhat.com
                    - name: USER_AGENT_PREFIX
                      value: jws-operator/0.0.1-dev
                    - name: WATCH_NAMESPACE
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.annotations['olm.targetNamespaces']
                    - name: OPERATOR_NAME
                      value: jws-operator-insights
                    - name: OPERATOR_NAMESPACE
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.namespace
                    - name: INSIGHTS_ENABLED
                      value: "true"
                  image: registry.redhat.io/insights-runtimes-tech-preview/runtimes-inventory-rhel8-operator:latest
                  livenessProbe:
                    httpGet:
                      path: /healthz
                      port: 8081
                    initialDelaySeconds: 15
                    periodSeconds: 20
                  name: insights
                  readinessProbe:
                    httpGet:
                      path: /readyz
                      port: 8081
                    initialDelaySeconds: 5
                    periodSeconds: 10
                  resources:
                    limits:
                      cpu: "1"
                      memory: 256Mi
                    requests:
                      cpu: 100m
                      memory: 64Mi
                  securityContext:
                    allowPrivilegeEscalation: false
                    capabilities:
                      drop:
                        - ALL
              securityContext:
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
              serviceAccountName: jws-operator-insights
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
          - apiGroups:
              - ""
            resources:
              - configmaps
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - coordination.k8s.io
            resources:
              - leases
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - ""
            resources:
              - events
            verbs:
              - create
              - patch
          - apiGroups:
              - ""
            resources:
              - configmaps
            verbs:
              - create
              - delete
              - get
              - list
              - update
              - watch
          - apiGroups:
              - ""
            resources:
              - configmaps/finalizers
              - secrets
              - services
            verbs:
              - create
              - get
              - list
              - update
              - watch
          - apiGroups:
              - apps
            resources:
              - deployments
              - deployments/finalizers
            verbs:
              - create
              - get
              - list
              - update
              - watch
        serviceAccountName: jws-operator-insights
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: jws-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - WebServer
  - JBoss
  - ApacheTomcat
  links:
  - name: Jws Operator
    url: https://jws-operator.domain
  maturity: alpha
  provider:
    name: WebServer community
  relatedImages:
  - image: registry.redhat.io/3scale-amp2/apicast-gateway-rhel8:3scale2.15
    name: insights-proxy
  version: 0.0.1
