---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-web-servers-org-v1alpha1-webserver
  failurePolicy: Fail
  name: vwebserver-v1alpha1.kb.io
  rules:
  - apiGroups:
    - web.servers.org
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - webservers
  sideEffects: None
