
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: webservers.web.servers.org
spec:
  group: web.servers.org
  names:
    kind: WebServer
    listKind: WebServerList
    plural: webservers
    singular: webserver
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Web Server is the schema for the webservers API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: WebServerSpec defines the desired state of WebServer
            properties:
              applicationName:
                description: The base for the names of the deployed application resources
                pattern: ^[a-z]([-a-z0-9]*[a-z0-9])?$
                type: string
              certificateVerification:
                description: 'certificateVerification for tomcat configuration: required/optional
                  or empty.'
                type: string
              enableAccessLogs:
                description: If true operator will log tomcat's access logs
                type: boolean
              persistentLogs:
                description: If true operator will create a PVC to save the logs.
                type: boolean
              replicas:
                description: The desired number of replicas for the application
                format: int32
                minimum: 0
                type: integer
              resources:
                description: Configuration of the resources used by the WebServer,
                  ie CPU and memory, use limits and requests
                properties:
                  limits:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Limits describes the maximum amount of compute resources
                      allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                  requests:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Requests describes the minimum amount of compute
                      resources required. If Requests is omitted for a container,
                      it defaults to Limits if that is explicitly specified, otherwise
                      to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                type: object
              routeHostname:
                description: Route behaviour:[tls]hostname/NONE or empty.
                type: string
              tlsPassword:
                description: TLSPassword passphrase for the key in the client.key
                type: string
              tlsSecret:
                description: TLSSecret secret containing server.cert the server certificate,
                  server.key the server key and optional ca.cert the CA cert of the
                  client certificates
                type: string
              useSessionClustering:
                description: Use Session Clustering
                type: boolean
              webImage:
                description: (Deployment method 1) Application image
                properties:
                  applicationImage:
                    description: The name of the application image to be deployed
                    type: string
                  imagePullSecret:
                    description: secret to pull from the docker repository
                    type: string
                  webApp:
                    description: The source code for a webapp to be built and deployed
                    properties:
                      builder:
                        description: The information required to build the application
                        properties:
                          applicationBuildScript:
                            description: The script that the BuilderImage will use
                              to build the application war and move it to /mnt
                            type: string
                          image:
                            description: Image of the container where the web application
                              will be built
                            type: string
                        required:
                        - image
                        type: object
                      contextDir:
                        description: Subdirectory in the source repository
                        type: string
                      name:
                        description: 'Name of the web application (default: ROOT.war)'
                        type: string
                      sourceRepositoryRef:
                        description: Branch in the source repository
                        type: string
                      sourceRepositoryURL:
                        description: URL for the repository of the application sources
                        type: string
                      webAppWarImage:
                        description: Docker repository to push the built image
                        type: string
                      webAppWarImagePushSecret:
                        description: secret to push to the docker repository
                        type: string
                    required:
                    - builder
                    - sourceRepositoryURL
                    - webAppWarImage
                    - webAppWarImagePushSecret
                    type: object
                  webServerHealthCheck:
                    description: Pod health checks information
                    properties:
                      serverLivenessScript:
                        description: String for the pod liveness health check logic
                        type: string
                      serverReadinessScript:
                        description: String for the pod readiness health check logic
                        type: string
                    required:
                    - serverReadinessScript
                    type: object
                required:
                - applicationImage
                type: object
              webImageStream:
                description: (Deployment method 2) Imagestream
                properties:
                  imageStreamName:
                    description: The imagestream containing the image to be deployed
                    type: string
                  imageStreamNamespace:
                    description: The namespace where the image stream is located
                    type: string
                  webServerHealthCheck:
                    description: Pod health checks information
                    properties:
                      serverLivenessScript:
                        description: String for the pod liveness health check logic
                        type: string
                      serverReadinessScript:
                        description: String for the pod readiness health check logic
                        type: string
                    required:
                    - serverReadinessScript
                    type: object
                  webSources:
                    description: (Optional) Source code information
                    properties:
                      contextDir:
                        description: Subdirectory in the source repository
                        type: string
                      sourceRepositoryRef:
                        description: Branch in the source repository
                        type: string
                      sourceRepositoryUrl:
                        description: URL for the repository of the application sources
                        type: string
                      webSourcesParams:
                        description: (Optional) Sources related parameters
                        properties:
                          artifactDir:
                            description: Directory where the jar/war is created
                            type: string
                          genericWebhookSecret:
                            description: Secret for a generic web hook
                            type: string
                          githubWebhookSecret:
                            description: Secret for a Github web hook
                            type: string
                          mavenMirrorUrl:
                            description: URL to a maven repository
                            type: string
                        type: object
                    required:
                    - sourceRepositoryUrl
                    type: object
                required:
                - imageStreamName
                - imageStreamNamespace
                type: object
            required:
            - applicationName
            - replicas
            type: object
          status:
            description: WebServerStatus defines the observed state of WebServer
            properties:
              hosts:
                items:
                  type: string
                type: array
                x-kubernetes-list-type: set
              pods:
                items:
                  description: PodStatus defines the observed state of pods running
                    the WebServer application
                  properties:
                    name:
                      type: string
                    podIP:
                      type: string
                    state:
                      description: Represent the state of the Pod, it is used especially
                        during scale down.
                      enum:
                      - ACTIVE
                      - PENDING
                      - FAILED
                      type: string
                  required:
                  - name
                  - podIP
                  - state
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              replicas:
                description: Replicas is the actual number of replicas for the application
                format: int32
                type: integer
              scalingdownPods:
                description: "Represents the number of pods which are in scaledown
                  process what particular pod is scaling down can be verified by PodStatus
                  \n Read-only."
                format: int32
                type: integer
              selector:
                description: selector for pods, used by HorizontalPodAutoscaler
                type: string
            required:
            - replicas
            - scalingdownPods
            - selector
            type: object
        type: object
    served: true
    storage: true
    subresources:
      scale:
        labelSelectorPath: .status.selector
        specReplicasPath: .spec.replicas
        statusReplicasPath: .status.replicas
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
